.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.title {
  font-size: max(4vh, 25px);
}

.box {
  position: relative;
  max-width: 1300px;
  height: 80vh;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 3rem;
  margin: auto;
}

.box-top {
  height: 70%;
}

.top-form {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.week-weather {
  font-size: max(1vh, 3px);
}

.explanation-text {
  font-size: max(0.9vh, 7px);
  max-width: 350px;
  margin: 0 auto;
}
.error-text {
  font-size: max(1vh, 7px);
  color: brown;
  max-width: 550px;
  margin: 0 auto;
}

.box-bottom {
  height: 30%;
}

.bottom-current {
  height: 60%;
  font-size: 1rem;
}

.bottom-future {
  height: 60%;
  font-size: 1vmax;
}

.bottom-table {
  width: 100%;
  table-layout: fixed;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.current-left {
  display: inline-block;
  width: 33%;
  height: 100%;
  font-size: 5.5vmax;
}

.detail {
  font-size: 2.5vmax;
}

.current-center {
  display: inline-block;
  width: 34%;
  height: 100%;
  position: relative;
  font-size: max(1.2vh, 5px);
}

.current-right {
  display: inline-block;
  width: 33%;
  height: 100%;
  font-size: 1.2vmax;
  position: relative;
}

.left-measure {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.text-left {
  position: absolute;
  bottom: 1vh;
  margin: 0;
  width: 100%;
  text-align: left;
}

.text-right {
  position: absolute;
  bottom: 1vh;
  margin: 0;
  width: 100%;
  text-align: right;
}

.text-center {
  position: absolute;
  bottom: 1vh;
  margin: 0;
  width: 100%;
}
